/.settings
/*.project
/file/.settings
/file/target
/file/*.project
/file/*.classpath
target
bin
.pmd
.project
.settings
.classpath
.idea.xml
.idea
*.class
*.bak
*.iml
*.ipr
*.iws
.git
null/
.svn/
tree.log
tmp/
velocity.log
.DS_Store
mule.log
.metadata/

*/dependency-reduced-pom.xml

